.register-form__heading {
width: 128px;
height: 48px;
font-family: 'Hiragino Kaku Gothic Pro';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #333333;
}

.register-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.register-form__label {
width: 48px;
height: 24px;
font-family: 'Hiragino Kaku Gothic Pro';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #4B4B4B;
}

